BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #354963; FONT-FAMILY: Arial, Helvetica, sans-serif
}
/*
P {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #354963; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
*/
UL {
	PADDING-RIGHT: 0pt; MARGIN-TOP: 0pt; PADDING-LEFT: 0pt; LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 3pt; PADDING-BOTTOM: 0pt; MARGIN-LEFT: 10pt; LINE-HEIGHT: 10pt; PADDING-TOP: 0pt; LIST-STYLE-TYPE: disc
}
LI {
	PADDING-RIGHT: 0pt; MARGIN-TOP: 0pt; PADDING-LEFT: 0pt; LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 3pt; PADDING-BOTTOM: 0pt; MARGIN-LEFT: 10pt; LINE-HEIGHT: 10pt; PADDING-TOP: 0pt; LIST-STYLE-TYPE: disc
}
OL {
	MARGIN-TOP: 1pt; PADDING-LEFT: 0pt; LIST-STYLE-POSITION: outside; MARGIN-LEFT: 0pt; counter-reset: item
}
.level1 {
	PADDING-RIGHT: 0pt; MARGIN-TOP: 0pt; PADDING-LEFT: 0em; LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 5pt; PADDING-BOTTOM: 0pt; MARGIN-LEFT: 7pt; LINE-HEIGHT: 10pt; PADDING-TOP: 0pt; LIST-STYLE-TYPE: decimal
}
.level2 {
	PADDING-RIGHT: 0pt; MARGIN-TOP: 0pt; PADDING-LEFT: 0em; LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 3pt; PADDING-BOTTOM: 0pt; MARGIN-LEFT: 6pt; LINE-HEIGHT: 10pt; PADDING-TOP: 0pt; LIST-STYLE-TYPE: lower-alpha
}
.level3 {
	PADDING-RIGHT: 0pt; MARGIN-TOP: 0pt; PADDING-LEFT: 0em; LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 2pt; PADDING-BOTTOM: 0pt; MARGIN-LEFT: 5pt; LINE-HEIGHT: 10pt; PADDING-TOP: 0pt; LIST-STYLE-TYPE: lower-roman
}
.level4 {
	PADDING-RIGHT: 0pt; MARGIN-TOP: 0pt; PADDING-LEFT: 0em; LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 1pt; PADDING-BOTTOM: 0pt; MARGIN-LEFT: 2pt; LINE-HEIGHT: 10pt; PADDING-TOP: 0pt; LIST-STYLE-TYPE: disc
}
.level5 {
	PADDING-RIGHT: 0pt; MARGIN-TOP: 0pt; PADDING-LEFT: 0em; LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 1pt; PADDING-BOTTOM: 0pt; MARGIN-LEFT: 0pt; LINE-HEIGHT: 10pt; PADDING-TOP: 0pt; LIST-STYLE-TYPE: circle
}
A {
	FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:link {
	COLOR: #0000ff
}
A:visited {
	COLOR: #0000ff
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}

.simulatedStatelessLink {
  FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
  cursor: pointer;
}
.simulatedStatelessLink:hover {
  COLOR: #0000ff; TEXT-DECORATION: underline;
  cursor: pointer;
}

.tabsubnav {
	PADDING-RIGHT: 15pt; PADDING-LEFT: 15pt; FONT-SIZE: 10pt; COLOR: #000063; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tabsubnav:link {
	COLOR: #000063
}
A.tabsubnav:visited {
	COLOR: #000063
}
A.tabsubnav:hover {
	COLOR: #0a3c91; TEXT-DECORATION: underline
}
.tabsubnavbold {
	PADDING-RIGHT: 15pt; PADDING-LEFT: 15pt; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0a3c91; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tabsubnavbold:link {
	COLOR: #0a3c91
}
A.tabsubnavbold:visited {
	COLOR: #0a3c91
}
.tabsubnavhome {
	PADDING-RIGHT: 15pt; PADDING-LEFT: 20pt; FONT-SIZE: 10pt; COLOR: #000063; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tabsubnavhome:link {
	COLOR: #000063
}
A.tabsubnavhome:visited {
	COLOR: #000063
}
A.tabsubnavhome:hover {
	COLOR: #0a3c91; TEXT-DECORATION: underline
}
.tabsubnavboldhome {
	PADDING-RIGHT: 15pt; PADDING-LEFT: 20pt; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0a3c91; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.tabsubnavboldhome:link {
	COLOR: #0a3c91
}
A.tabsubnavboldhome:visited {
	COLOR: #0a3c91
}
.content {
	PADDING-LEFT: 0pt; FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #354963; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.contentTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #354963; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.contentTitle:link {
	COLOR: #0a3c91
}
A.contentTitle:visited {
	COLOR: #0a3c91
}
A.contentTitle:hover {
	COLOR: #0a3c91; TEXT-DECORATION: underline
}
.pt08 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pt09 {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pt10 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.whitept08 {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.whitept08:link {
	COLOR: #ffff66
}
A.whitept08:visited {
	COLOR: #ffffff
}
A.whitept08:hover {
	COLOR: #6699cc
}
.whitept09 {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.whitept09:link {
	COLOR: #ffff66
}
A.whitept09:visited {
	COLOR: #ffffff
}
A.whitept09:hover {
	COLOR: #6699cc
}
.whitept10 {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.whitept10:link {
	COLOR: #ffff66
}
A.whitept10:visited {
	COLOR: #ffffff
}
A.whitept10:hover {
	COLOR: #6699cc
}
.channeltitle {
	PADDING-RIGHT: 2pt; PADDING-LEFT: 6pt; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 0pt; MARGIN: 0pt; TEXT-TRANSFORM: capitalize; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #b3bfd0; TEXT-ALIGN: left
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.banner {
	FONT-SIZE: 26pt; COLOR: #ffffff; FONT-FAMILY: GM Sans Regular, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.banner2lines {
	FONT-SIZE: 16pt; WORD-SPACING: 0pt; COLOR: #ffffff; LINE-HEIGHT: 20pt; FONT-FAMILY: GM Sans Regular, Arial, Helvetica, sans-serif; LETTER-SPACING: -2pt
}
.line {
	BORDER-BOTTOM-COLOR: #ffffff; BORDER-LEFT: #5e8ad7 1pt solid; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-STYLE: solid; BORDER-RIGHT-COLOR: #ffffff; BORDER-BOTTOM-STYLE: solid
}
.help {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000099
}
.notice {
	FONT-WEIGHT: normal; FONT-SIZE: 110pt; COLOR: #990000; FONT-FAMILY: "GM Sans Regular", Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.tbltxt {
color:#000000; 
font-size:8pt;
line-height:13px;
font-family: Verdana, Arial, Geneva, Times, Helvetica, sans-serif;
}

.widebutton {
width: 250px;
}


.select1wide {
  width: 150px; 
}

.select1pluswide {
width: 187px;
}

.select1pluspluswide {
 /* width: 150px; */
  width: 205px;  
}

.select2wide {
width: 250px;
}

.select3wide {
width: 375px;
}

.select4wide {
width: 500px;
}

A.warningtxt 
{
color:#FF0000;
font-size:8pt;
line-height:13px;
font-family: Verdana, Arial, Geneva, Times, Helvetica, sans-serif;
}
A.warningtxt:link {
	color:#FF0000;
}
A.warningtxt:visited {
	color:#FF0000;
}
A.warningtxt:hover {
	color:#FF0000; TEXT-DECORATION: underline
}

.statustxt 
{
color:#FF0000;
font-size:8pt;
line-height:13px;
font-family: Verdana, Arial, Geneva, Times, Helvetica, sans-serif;
font-style: italic;
}

.statusnoit 
{
color:#FF0000;
font-size:8pt;
line-height:13px;
font-family: Verdana, Arial, Geneva, Times, Helvetica, sans-serif;
}


.tablefttbltxt {
color:#000000; 
font-size:8pt;
line-height:13px;
PADDING-LEFT: 5pt;
font-style: italic;
font-family: Verdana, Arial, Geneva, Times, Helvetica, sans-serif;
}

.currency {
color:#000000; 
font-size:8pt;
line-height:13px;
font-family: Verdana, Arial, Geneva, Times, Helvetica, sans-serif;
text-align: right;
}


.tdBorder 
{
        border-style: solid;
        border-width: thin;        /* sets border width on all sides */
        border-color: Black;
}

.channeltbltxt {
color:#000000; 
font-size:10pt;
line-height:17px;
font-family: Verdana, Arial, Geneva, Times, Helvetica, sans-serif;
}


.cust_code {
color:#000000; 
font-size:8pt;
line-height:13px;
font-family: Verdana, Arial, Geneva, Times, Helvetica, sans-serif;
text-align:right
}

.lbSelectionList
{
    font-family:Verdana, Arial; 
    font-size: 8pt;
}

.highlight td {
    text-decoration: underline;
    color: Blue; 
}